@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

html, body, #root{
	height: 100%;
	margin: 0;

	font-family: 'Roboto', sans-serif;
}